@model Web.ViewModels.Question.InformationQuestionFormModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        
            @Html.DisplayNameFor(model => model.Answers)
               @foreach (var answer in Model.Answers)
                {
                   <dt class="col-sm-2">
                     @answer.Description
                   </dt>
                   <dd class="col-sm-10">
                       @answer.Description
                       <a asp-action="Edit" asp-route-id="@answer.Id">Edit</a>
                       <a asp-action="GenerateAnswer" asp-route-id="@answer.Id">Edit</a> |
                   </dd>            
                }        

        </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
